apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: securityprofilesoperatordaemons.security-profiles-operator.x-k8s.io
spec:
  group: security-profiles-operator.x-k8s.io
  names:
    kind: SecurityProfilesOperatorDaemon
    listKind: SecurityProfilesOperatorDaemonList
    plural: securityprofilesoperatordaemons
    shortNames:
    - spod
    singular: securityprofilesoperatordaemon
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SecurityProfilesOperatorDaemon is the Schema to configure the
          spod deployment.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SPODStatus defines the desired state of SPOD.
            properties:
              enableAppArmor:
                description: tells the operator whether or not to enable AppArmor
                  support for this SPOD instance.
                type: boolean
              enableBpfRecorder:
                description: tells the operator whether or not to enable bpf recorder
                  support for this SPOD instance.
                type: boolean
              enableLogEnricher:
                description: tells the operator whether or not to enable log enrichment
                  support for this SPOD instance.
                type: boolean
              enableProfiling:
                description: EnableProfiling tells the operator whether or not to
                  enable profiling support for this SPOD instance.
                type: boolean
              enableSelinux:
                description: tells the operator whether or not to enable SELinux support
                  for this SPOD instance.
                type: boolean
              hostProcVolumePath:
                description: HostProcVolumePath is the path for specifying a custom
                  host /proc volume, which is required for the log-enricher as well
                  as bpf-recorder to retrieve the container ID for a process ID. This
                  can be helpful for nested environments, for example when using "kind".
                type: string
              selinuxOptions:
                description: Defines options specific to the SELinux functionality
                  of the SecurityProfilesOperator
                properties:
                  allowedSystemProfiles:
                    default:
                    - container
                    description: Lists the profiles coming from the system itself
                      that are allowed to be inherited by workloads. Use this with
                      care, as this might provide a lot of permissions depending on
                      the policy.
                    items:
                      type: string
                    type: array
                type: object
              tolerations:
                description: If specified, the SPOD's tolerations.
                items:
                  description: The pod this Toleration is attached to tolerates any
                    taint that matches the triple <key,value,effect> using the matching
                    operator <operator>.
                  properties:
                    effect:
                      description: Effect indicates the taint effect to match. Empty
                        means match all taint effects. When specified, allowed values
                        are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: Key is the taint key that the toleration applies
                        to. Empty means match all taint keys. If the key is empty,
                        operator must be Exists; this combination means to match all
                        values and all keys.
                      type: string
                    operator:
                      description: Operator represents a key's relationship to the
                        value. Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod
                        can tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: TolerationSeconds represents the period of time
                        the toleration (which must be of effect NoExecute, otherwise
                        this field is ignored) tolerates the taint. By default, it
                        is not set, which means tolerate the taint forever (do not
                        evict). Zero and negative values will be treated as 0 (evict
                        immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: Value is the taint value the toleration matches
                        to. If the operator is Exists, the value should be empty,
                        otherwise just a regular string.
                      type: string
                  type: object
                type: array
              verbosity:
                description: Verbosity specifies the logging verbosity of the daemon.
                type: integer
            type: object
          status:
            description: SPODStatus defines the observed state of SPOD.
            properties:
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown?
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
              state:
                description: 'Represents the state that the policy is in. Can be:
                  PENDING, IN-PROGRESS, RUNNING or ERROR'
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
