apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: security-profiles-operator
    {{- include "security-profiles-operator.labels" . | nindent 4 }}
  name: security-profiles-operator
  namespace: {{ .Release.Namespace }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: security-profiles-operator
      name: security-profiles-operator
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        app: security-profiles-operator
        name: security-profiles-operator
    spec:
      containers:
      - args:
        - manager
        env:
        - name: RELATED_IMAGE_RBAC_PROXY
          value: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.1
        - name: RELATED_IMAGE_SELINUXD
          value: quay.io/security-profiles-operator/selinuxd
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: {{ .Values.spoImage.registry }}/{{ .Values.spoImage.repository }}:{{ .Values.spoImage.tag }}
        imagePullPolicy: Always
        name: {{ .Chart.Name }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: security-profiles-operator
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
