version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
  labels:
    - "release-note-none"
    - "ok-to-test"
  open-pull-requests-limit: 10
  groups:
    kubernetes:
      patterns:
        - "k8s.io/*"
        - "sigs.k8s.io/*"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  labels:
    - "release-note-none"
    - "ok-to-test"
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
  labels:
    - "release-note-none"
    - "ok-to-test"
  open-pull-requests-limit: 10
