apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  creationTimestamp: null
  labels:
    app: security-profiles-operator
  name: rawselinuxprofiles.security-profiles-operator.x-k8s.io
spec:
  group: security-profiles-operator.x-k8s.io
  names:
    kind: RawSelinuxProfile
    listKind: RawSelinuxProfileList
    plural: rawselinuxprofiles
    singular: rawselinuxprofile
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.usage
      name: Usage
      type: string
    - jsonPath: .status.status
      name: State
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: RawSelinuxProfile is the Schema for the rawselinuxprofiles API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RawSelinuxProfileSpec defines the desired state of RawSelinuxProfile.
            properties:
              disabled:
                default: false
                description: Whether the profile is disabled and should be skipped
                  during reconciliation.
                type: boolean
              policy:
                type: string
            type: object
          status:
            description: SelinuxProfileStatus defines the observed state of SelinuxProfile.
            properties:
              activeWorkloads:
                items:
                  type: string
                type: array
              conditions:
                description: Conditions of the resource.
                items:
                  description: A Condition that may apply to a resource.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time this condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A Message containing details about this condition's
                        last transition from one status to another, if any.
                      type: string
                    reason:
                      description: A Reason for this condition's last transition from
                        one status to another.
                      type: string
                    status:
                      description: Status of this condition; is it currently True,
                        False, or Unknown?
                      type: string
                    type:
                      description: Type of this condition. At most one of each condition
                        type may apply to a resource at any point in time.
                      type: string
                  required:
                  - lastTransitionTime
                  - reason
                  - status
                  - type
                  type: object
                type: array
              status:
                description: ProfileState defines the state that the profile is in.
                  A profile in this context refers to a SeccompProfile or a SELinux
                  profile, the states are shared between them as well as the management
                  API.
                type: string
              usage:
                description: Represents the string that the SelinuxProfile object
                  can be referenced as in a pod seLinuxOptions section.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
