apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: security-profiles-operator
  newName: gcr.io/k8s-staging-sp-operator/security-profiles-operator
  newTag: latest
  # For images to be released:
  # newName: registry.k8s.io/security-profiles-operator/security-profiles-operator
  # newTag: v0.7.1


resources:
- manager_deployment.yaml
labels:
- includeSelectors: true
  pairs:
    app: security-profiles-operator
