---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-profiles-operator
  namespace: security-profiles-operator
spec:
  replicas: 3
  selector:
    matchLabels:
      name: security-profiles-operator
  template:
    metadata:
      labels:
        name: security-profiles-operator
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: security-profiles-operator
      containers:
        - name: security-profiles-operator
          image: security-profiles-operator
          args:
          - manager
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          resources:
            requests:
              memory: 50Mi
              cpu: 250m
            limits:
              memory: 128Mi
              cpu: 500m
          env:
            - name: RELATED_IMAGE_RBAC_PROXY
              value: gcr.io/kubebuilder/kube-rbac-proxy:v0.14.0
            - name: RELATED_IMAGE_SELINUXD
              value: quay.io/security-profiles-operator/selinuxd
            - name: OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: KUBELET_DIR
              value: "/var/lib/kubelet"
      tolerations:
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
