---
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    categories: Security
    containerImage: registry.k8s.io/security-profiles-operator/security-profiles-operator:v0.9.1
    olm.skipRange: '>=0.4.1 <0.8.5-dev'
    operatorframework.io/suggested-namespace: security-profiles-operator
    operators.openshift.io/valid-subscription: '["OpenShift Kubernetes Engine", "OpenShift Container Platform", "OpenShift Platform Plus"]'
    operatorframework.io/cluster-monitoring: "true"
    operatorframework.io/os.linux: supported
  name: security-profiles-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: AppArmorProfile is a cluster level specification for an AppArmor
        profile.
      displayName: App Armor Profile
      kind: AppArmorProfile
      name: apparmorprofiles.security-profiles-operator.x-k8s.io
      version: v1alpha1
    - description: ProfileBinding is the Schema for the profilebindings API.
      displayName: Profile Binding
      kind: ProfileBinding
      name: profilebindings.security-profiles-operator.x-k8s.io
      version: v1alpha1
    - description: ProfileRecording is the Schema for the profilerecordings API.
      displayName: Profile Recording
      kind: ProfileRecording
      name: profilerecordings.security-profiles-operator.x-k8s.io
      version: v1alpha1
    - description: SeccompProfile is a cluster level specification for a seccomp profile.
        See https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#seccomp
      displayName: Seccomp Profile
      kind: SeccompProfile
      name: seccompprofiles.security-profiles-operator.x-k8s.io
      version: v1beta1
    - description: SecurityProfileNodeStatus is a per-node status of a security profile
      displayName: Security Profile Node Status
      kind: SecurityProfileNodeStatus
      name: securityprofilenodestatuses.security-profiles-operator.x-k8s.io
      version: v1alpha1
    - description: SecurityProfilesOperatorDaemon is the Schema to configure the spod
        deployment.
      displayName: Security Profiles Operator Daemon
      kind: SecurityProfilesOperatorDaemon
      name: securityprofilesoperatordaemons.security-profiles-operator.x-k8s.io
      version: v1alpha1
    - description: SelinuxProfile is the Schema for the selinuxprofiles API.
      displayName: Selinux Profile
      kind: SelinuxProfile
      name: selinuxprofiles.security-profiles-operator.x-k8s.io
      version: v1alpha2
  description: SPO is an operator which aims to make it easier for users to use SELinux, seccomp and AppArmor in Kubernetes clusters
  displayName: Security Profiles Operator
  icon:
  - base64data: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTguNTEgMjU4LjUxIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2QxZDFkMTt9LmNscy0ye2ZpbGw6IzhkOGQ4Zjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPkFzc2V0IDQ8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTI5LjI1LDIwQTEwOS4xLDEwOS4xLDAsMCwxLDIwNi40LDIwNi40LDEwOS4xLDEwOS4xLDAsMSwxLDUyLjExLDUyLjExLDEwOC40NSwxMDguNDUsMCwwLDEsMTI5LjI1LDIwbTAtMjBoMEM1OC4xNiwwLDAsNTguMTYsMCwxMjkuMjVIMGMwLDcxLjA5LDU4LjE2LDEyOS4yNiwxMjkuMjUsMTI5LjI2aDBjNzEuMDksMCwxMjkuMjYtNTguMTcsMTI5LjI2LTEyOS4yNmgwQzI1OC41MSw1OC4xNiwyMDAuMzQsMCwxMjkuMjUsMFoiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xNzcuNTQsMTAzLjQxSDE0MS42NkwxNTQuOSw2NS43NmMxLjI1LTQuNC0yLjMzLTguNzYtNy4yMS04Ljc2SDEwMi45M2E3LjMyLDcuMzIsMCwwLDAtNy40LDZsLTEwLDY5LjYxYy0uNTksNC4xNywyLjg5LDcuODksNy40LDcuODloMzYuOUwxMTUuNTUsMTk3Yy0xLjEyLDQuNDEsMi40OCw4LjU1LDcuMjQsOC41NWE3LjU4LDcuNTgsMCwwLDAsNi40Ny0zLjQ4TDE4NCwxMTMuODVDMTg2Ljg2LDEwOS4yNCwxODMuMjksMTAzLjQxLDE3Ny41NCwxMDMuNDFaIi8+PC9nPjwvZz48L3N2Zz4="
    mediatype: "image/svg+xml"
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: true
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - security
  - selinux
  - seccomp
  - apparmor
  - ebpf
  links:
  - name: Security Profiles Operator
    url: https://github.com/kubernetes-sigs/security-profiles-operator
  maintainers:
  - email: dev@kubernetes.io
    name: Kubernetes upstream
  maturity: alpha
  provider:
    name: Kubernetes SIGs
    url: https://github.com/kubernetes-sigs
  replaces: security-profiles-operator.v0.8.4
  version: 0.0.0
