---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: security-profiles-operator
    newName: gcr.io/k8s-staging-sp-operator/security-profiles-operator
    newTag: latest
    # For images to be released:
    # newName: k8s.gcr.io/security-profiles-operator/security-profiles-operator
    # newTag: v0.4.0

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: security-profiles-operator
    namespace: security-profiles-operator
  spec:
    template:
      spec:
        containers:
          - name: security-profiles-operator
            env:
              - name: RELATED_IMAGE_SELINUXD
                value: quay.io/jaosorior/selinuxd

commonLabels:
  app: security-profiles-operator

resources:
  - crds/profilebinding.yaml
  - crds/profilerecording.yaml
  - crds/seccompprofile.yaml
  - crds/securityprofilenodestatus.yaml
  - crds/securityprofilesoperatordaemon.yaml
  - crds/selinuxpolicy.yaml
  - crds/apparmorprofile.yaml
  - ns.yaml
  - service_account.yaml
  - role.yaml
  - role_binding.yaml
  - manager_deployment.yaml
  - webhook_deployment.yaml
  - mutatingwebhookconfig.yaml
  - certificate.yaml
  - service.yaml
  - metrics_client.yaml

configMapGenerator:
  - name: security-profiles-operator-profile
    files:
      - profiles/security-profiles-operator.json
      - profiles/selinuxd.cil
      - profiles/selinuxrecording.cil

generatorOptions:
  disableNameSuffixHash: true
