---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: security-profiles-operator
    newName: gcr.io/k8s-staging-sp-operator/security-profiles-operator
    newTag: latest
    # For images to be released:
    # newName: k8s.gcr.io/security-profiles-operator/security-profiles-operator
    # newTag: v0.2.0

  - name: bash
    newTag: "5.0"

commonLabels:
  app: security-profiles-operator

resources:
  - crd.yaml
  - rbac.yaml
  - operator.yaml

configMapGenerator:
  - name: security-profiles-operator-profile
    files:
      - profiles/security-profiles-operator.json

generatorOptions:
  disableNameSuffixHash: true
