apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

sortOptions:
  order: legacy

resources:
- ns.yaml
- service_account.yaml
- role.yaml
- role_binding.yaml
- mutatingwebhookconfig.yaml
- metrics_client.yaml

configMapGenerator:
- files:
  - profiles/bpf-recorder.json
  - profiles/security-profiles-operator.json
  - profiles/selinuxd.cil
  - profiles/selinuxrecording.cil
  - profiles/selinuxd-image-mapping.json
  - profiles/spo-apparmor.yaml
  - profiles/bpfrecorder-apparmor.yaml
  name: security-profiles-operator-profile

generatorOptions:
  disableNameSuffixHash: true
labels:
- includeSelectors: true
  pairs:
    app: security-profiles-operator
