---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-profiles-operator
  namespace: security-profiles-operator
spec:
  replicas: 3
  selector:
    matchLabels:
      name: security-profiles-operator
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: runtime/default
      labels:
        name: security-profiles-operator
    spec:
      serviceAccountName: spo-manager
      containers:
        - name: security-profiles-operator
          image: security-profiles-operator
          args:
          - manager
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          env:
            - name: RELATED_IMAGE_OPERATOR
              value: security-profiles-operator
            - name: RELATED_IMAGE_NON_ROOT_ENABLER
              value: non-root-enabler
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node.kubernetes.io/not-ready"
          operator: "Exists"
          effect: "NoExecute"
