---
apiVersion: v1
kind: Namespace
metadata:
  name: security-profiles-operator
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: security-profiles-operator
  namespace: security-profiles-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: config-map-reader
  namespace: security-profiles-operator
rules:
- apiGroups: [""]
  resources: ["configmaps", "pods"]
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["create", "patch"]
- apiGroups: ["security-profiles-operator.x-k8s.io"]
  resources: ["seccompprofiles"]
  verbs: ["get", "watch", "list", "update", "patch"]
- apiGroups: ["security-profiles-operator.x-k8s.io"]
  resources: ["seccompprofiles/status"]
  verbs: ["get", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: config-map-reader-binding
  namespace: security-profiles-operator
subjects:
- kind: ServiceAccount
  name: security-profiles-operator
  namespace: security-profiles-operator
roleRef:
  kind: ClusterRole
  name: config-map-reader
  apiGroup: rbac.authorization.k8s.io
