---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: security-profiles-operator
rules:
- apiGroups:
  - ""
  resourceNames:
  - security-profiles-operator-profile
  resources:
  - configmaps
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets/finalizers
  - deployments
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - profilerecordings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - profilerecordings/finalizers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilenodestatuses
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilesoperatordaemons
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilesoperatordaemons/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilesoperatordaemons/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: security-profiles-operator
  namespace: security-profiles-operator
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - update
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: spod
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - subjectaccessreviews
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - apparmorprofiles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - apparmorprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - apparmorprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - profilerecordings
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - rawselinuxprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - seccompprofiles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilenodestatuses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - securityprofilesoperatordaemons
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles/finalizers
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - security-profiles-operator.x-k8s.io
  resources:
  - selinuxprofiles/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: spod
  namespace: security-profiles-operator
rules:
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - use
