---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: security-profiles-operator
  namespace: security-profiles-operator
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: spod
  namespace: security-profiles-operator
