---
apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: security-profiles-operator
  labels:
    name: webhook-service
spec:
  selector:
    app: security-profiles-operator
    name: security-profiles-operator-webhook
  ports:
  - name: webhook
    protocol: TCP
    port: 443
    targetPort: 9443

