# This is the cluster wide security-profiles-operator deployment, which listens for
# configMaps on all namespaces
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

sortOptions:
  order: fifo

resources:
- ../webhook

labels:
- pairs: { app: "{{.Release.Name}}" }
  includeSelectors: true

patches:
  # Target all namespaced resources present in the project.
- patch: |
    - op: replace
      path: /metadata/namespace
      value: "{{ .Release.Namespace }}"
  target:
    kind: (AppArmorProfile|Binding|Certificate|CertificateRequest|ConfigMap|ControllerRevision|DaemonSet|Deployment|Ingress|Issuer|ProfileBinding|ProfileRecording|RawSelinuxProfile|Role|RoleBinding|SeccompProfile|Secret|SecurityProfileNodeStatus|SecurityProfilesOperatorDaemon|SelinuxProfile|Service|ServiceAccount)

  # Replace the namespace into the role binding associations.
- patch: |
    - op: replace
      path: /subjects/0/namespace
      value: "{{ .Release.Namespace }}"
  target:
    kind: (ClusterRoleBinding|RoleBinding)

- patch: |
    - op: replace
      path: /spec/replicas
      value: "{{ .Values.replicaCount }}"
  target: { kind: Deployment }

# Respect fullnameOverride
- target: { name: security-profiles-operator }
  patch: |
    - op: replace
      path: /metadata/name
      value: '{{ include "security-profiles-operator.name" . }}'
- target: { name: security-profiles-operator-webhook }
  patch: |
    - op: replace
      path: /metadata/name
      value: &name '{{ include "security-profiles-operator.name" . }}-webhook'
    - op: replace
      path: /spec/template/metadata/labels/name
      value: *name
    - op: replace
      path: /spec/selector/matchLabels/name
      value: *name
- target: { kind: Deployment, name: security-profiles-operator }
  patch: |
    - op: replace
      path: /spec/template/metadata/labels/name
      value: &name '{{ include "security-profiles-operator.name" . }}'
    - op: replace
      path: /spec/selector/matchLabels/name
      value: *name
- target: { name: webhook-service }
  patch: |
    - op: replace
      path: /spec/selector/name
      value: '{{ include "security-profiles-operator.name" . }}-webhook'

# Fix webhook/cert namespaces
- target: { name: webhook-cert }
  patch: |
    - op: replace
      path: /spec/dnsNames
      value:
      - webhook-service.{{.Release.Namespace}}.svc
      - webhook-service.{{.Release.Namespace}}.svc.cluster.local
- target: { name: metrics-cert }
  patch: |
    - op: replace
      path: /spec/dnsNames
      value:
      - metrics.{{.Release.Namespace}}
      - metrics.{{.Release.Namespace}}.svc
      - metrics.{{.Release.Namespace}}.svc.cluster.local
- target: { name: spo-mutating-webhook-configuration }
  patch: |
    - op: replace
      path: /metadata/annotations/cert-manager.io~1inject-ca-from
      value: "{{.Release.Namespace}}/webhook-cert"
    - op: replace
      path: /webhooks/0/objectSelector/matchExpressions/0/values
      value: &val
      - '{{ include "security-profiles-operator.name" . }}'
      - '{{ include "security-profiles-operator.name" . }}-webhook'
    - op: replace
      path: /webhooks/1/objectSelector/matchExpressions/0/values
      value: *val


# Remove the namespace resource.
- path: delete-ns.yaml
