# This is the cluster wide security-profiles-operator deployment, which listens for
# configMaps on all namespaces
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: gcr.io/k8s-staging-sp-operator/security-profiles-operator
  newName: image-registry.openshift-image-registry.svc:5000/openshift/security-profiles-operator
  newTag: latest
resources:
- ../cluster
