name: helm-chart-package
on:
  pull_request:
  release:
    types: [published]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  helm-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4.2.0
        with:
          version: v3.8.1
      - run: mkdir -p build
      - id: package
        run: |
          helm_output="$(helm package -d build deploy/helm)"
          tgz_path="${helm_output##*saved it to: }"
          echo "helm chart tgz path: '${tgz_path}'"
          [ ! -f "${tgz_path}" ] && echo "failed to find helm chart from 'helm package' stdout" && exit 1
          echo "helm_tgz_path=${tgz_path}" >> $GITHUB_OUTPUT
          echo "helm_tgz_name=${tgz_path##*/}" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: ${{ steps.package.outputs.helm_tgz_name}}
          path: ${{ steps.package.outputs.helm_tgz_path}}
          if-no-files-found: error
      - uses: softprops/action-gh-release@fb2d03176f42a1f0dd433ca263f314051d3edd44 # v2.0.7
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ steps.package.outputs.helm_tgz_path}}
