name: helm-chart-lint

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.8.1

      - uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # v4.5.0
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@afea100a513515fbd68b0e72a7bb0ae34cb62aec # v2.3.1

      - name: Run chart-testing (lint)
        run: >
          ct lint
          --chart-dirs deploy/helm
          --target-branch ${{ github.event.repository.default_branch }}
          --lint-conf hack/ci/chart-test-lintconf
          --chart-yaml-schema hack/ci/chart_schema.yaml
