name: helm-chart-package
on:
  pull_request:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  helm-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v3.5.2
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.8.1
      - run: mkdir -p build
      - id: package
        run: |
          helm_output="$(helm package -d build deploy/helm)"
          tgz_path="${helm_output##*saved it to: }"
          echo "helm chart tgz path: '${tgz_path}'"
          [ ! -f "${tgz_path}" ] && echo "failed to find helm chart from 'helm package' stdout" && exit 1
          echo "helm_tgz_path=${tgz_path}" >> $GITHUB_OUTPUT
          echo "helm_tgz_name=${tgz_path##*/}" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: ${{ steps.package.outputs.helm_tgz_name}}
          path: ${{ steps.package.outputs.helm_tgz_path}}
          if-no-files-found: error
      - uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ steps.package.outputs.helm_tgz_path}}
