name: helm-chart-lint

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5
        with:
          version: v3.8.1

      - uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@e8788873172cb653a90ca2e819d79d65a66d4e76 # v2.4.0

      - name: Run chart-testing (lint)
        run: >
          ct lint
          --chart-dirs deploy/helm
          --target-branch ${{ github.event.repository.default_branch }}
          --lint-conf hack/ci/chart-test-lintconf
          --chart-yaml-schema hack/ci/chart_schema.yaml
