name: olm
on:
  push:
    branches:
      - main
  pull_request:
env:
  GO_VERSION: '1.21'
  KIND_IMG_TAG: v1.27.3

permissions: {}

jobs:
  main:
    name: tests
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.5.2

    - name: Download binaries
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/build
        echo "${GITHUB_WORKSPACE}/build" >> ${GITHUB_PATH}
        make operator-sdk
        make opm

    - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libseccomp-dev libelf-dev libapparmor-dev
        sudo hack/install-libbpf.sh

    - name: Create and verify bundle
      run: |
        make verify-bundle

    - name: Create and set up K8s KinD Cluster
      run: |
        ./hack/kind-with-registry.sh

    - name: Run the tests
      run: ./hack/ci/e2e-olm.sh
