name: olm
on:
  push:
    branches:
      - main
  pull_request:
env:
  GO_VERSION: '1.22'
  KIND_IMG_TAG: v1.30.0

permissions: {}

jobs:
  main:
    name: tests
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - name: Download binaries
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/build
        echo "${GITHUB_WORKSPACE}/build" >> ${GITHUB_PATH}
        make operator-sdk
        make opm

    - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Install dependencies
      run: |
        sudo ./hack/install-packages
        ./hack/install-crun

    - name: Create and verify bundle
      run: |
        make verify-bundle

    - name: Create and set up K8s KinD Cluster
      run: |
        ./hack/kind-with-registry.sh

    - name: Run the tests
      run: ./hack/ci/e2e-olm.sh
      env:
        XDG_RUNTIME_DIR: ''
