name: olm
on:
  push:
    branches:
      - main
  pull_request:
env:
  GO_VERSION: '1.20'
  KIND_IMG_TAG: v1.26.2

permissions: {}

jobs:
  main:
    name: tests
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0

    - name: Download binaries
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/build
        echo "${GITHUB_WORKSPACE}/build" >> ${GITHUB_PATH}
        make operator-sdk
        make opm

    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y libseccomp-dev libelf-dev libapparmor-dev
        sudo hack/install-libbpf.sh

    - name: Create and verify bundle
      run: |
        make verify-bundle

    - name: Create and set up K8s KinD Cluster
      run: |
        ./hack/kind-with-registry.sh

    - name: Run the tests
      run: ./hack/ci/e2e-olm.sh
