name: olm
on:
  push:
    branches:
      - main
  pull_request:
env:
  GO_VERSION: '1.23'
  KIND_IMG_TAG: v1.31.2
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  main:
    name: tests
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Download binaries
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/build
        echo "${GITHUB_WORKSPACE}/build" >> ${GITHUB_PATH}
        make operator-sdk opm

    - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Install dependencies
      run: |
        sudo ./hack/install-packages
        ./hack/install-crun

    - name: Create and verify bundle
      run: |
        make verify-bundle

    - name: Create and set up K8s KinD Cluster
      run: |
        ./hack/kind-with-registry.sh

    - name: Run the tests
      run: ./hack/ci/e2e-olm.sh
      env:
        XDG_RUNTIME_DIR: ''
