name: test
on:
  push:
    branches:
      - master
  pull_request:
env:
  GO_VERSION: '1.17'
jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: github/codeql-action/init@v1
        with:
          languages: go
      - uses: github/codeql-action/autobuild@v1
      - uses: github/codeql-action/analyze@v1

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libseccomp-dev libelf-dev
          sudo hack/install-libbpf.sh
      - run: make test-unit
      - uses: codecov/codecov-action@v1
        with:
          files: build/coverage.out
          flags: unittests
          verbose: true

  image:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: make image
      - run: podman save -o image.tar security-profiles-operator
      - uses: actions/upload-artifact@v2
        with:
          name: image
          path: image.tar

  e2e-fedora:
    needs: image
    runs-on: macos-10.15
    timeout-minutes: 90
    env:
      RUN: ./hack/ci/run-fedora.sh
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.vagrant.d/boxes
          key: e2e-fedora-${{ hashFiles('hack/ci/Vagrantfile-fedora') }}
          restore-keys: e2e-fedora-
      - uses: actions/download-artifact@v2
        with:
          name: image
          path: .
      - name: Boot Virtual Machine
        run: make vagrant-up-fedora
      - name: Show environment information
        run: $RUN kubectl get nodes -o wide
      - name: Run E2E tests
        run: $RUN hack/ci/e2e-fedora.sh
      - name: Fetch SPO logs
        run: $RUN kubectl -n security-profiles-operator logs -l name=security-profiles-operator --tail=-1 > spo.log
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v2
        with:
          name: e2e-fedora-spo.log
          path: spo.log
        if: ${{ failure() }}
      - name: Fetch spod main logs
        run: $RUN kubectl -n security-profiles-operator logs -l name=spod -c security-profiles-operator --tail=-1 > spod-spod.log
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v2
        with:
          name: e2e-fedora-spod-spod.log
          path: spod-spod.log
        if: ${{ failure() }}
      - name: Fetch spod selinuxd logs
        run: $RUN kubectl logs -n security-profiles-operator -l name=spod -c selinuxd --tail=-1 > spod-selinuxd.log
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v2
        with:
          name: e2e-fedora-spod-selinuxd.log
          path: spod-selinuxd.log
        if: ${{ failure() }}

  e2e-ubuntu:
    needs: image
    runs-on: macos-10.15
    timeout-minutes: 90
    env:
      RUN: ./hack/ci/run-ubuntu.sh
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.vagrant.d/boxes
          key: e2e-ubuntu-${{ hashFiles('hack/ci/Vagrantfile-ubuntu') }}
          restore-keys: e2e-ubuntu-
      - uses: actions/download-artifact@v2
        with:
          name: image
          path: .
      - name: Boot Virtual Machine
        run: make vagrant-up-ubuntu
      - name: Show environment information
        run: $RUN kubectl get nodes -o wide
      - name: Run E2E tests
        run: $RUN hack/ci/e2e-ubuntu.sh
