# This is the namespaced deployment, which only watches configMaps for one
# namespace.
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

sortOptions:
  order: fifo

resources:
- ../cluster
patches:
- path: deployment.yaml
